/*grid*/

nav, section, footer {
display:grid;
width: 100%;
margin-bottom: 10px;}

section {
align-content: center;
justify-content: space-evenly;}

footer {height: 20px;
justify-items: left}

.container {
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 10% 10% 50% 10% 10% 10%;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
"Navigation Navigation"
"Header Header"
"Section Section"
"Image Video"
"Resume Resume"
"Footer Footer";
}
