/*grid*/

.Navigation, .Header, .Section, .Image, .Video, .Footer {
width: 100%;
margin-bottom: 5px;
}

.container {
display: grid;
grid-template-columns: 100%;
grid-template-rows: 1% 2% 46% 25% 12% 1% 10%;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
"Navigation"
"Header"
"Section"
"Image"
"Video"
"Resume"
"Footer";
}
