/*grid*/

nav, section, main, span, footer {display:grid;
width: 100%;
margin-bottom: 10px;}

section {grid-template: 600px;
align-content: center;
justify-content: space-evenly;}

main {grid-template: 200px / repeat(2, 180px);
align-content: center;
justify-content: space-evenly;}

footer {height: 20px;
align-items: left;
justify-items: left}

container {
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 10% 10% 50% 10% 10% 10%;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
"Header Header"
"Navigation Navigation"
"Main Main"
"Photo Video"
"Resume Resume"
"Footer Footer";
}
