/*grid*/

nav, section, span, main, footer {display:grid;
width: 100%;
margin-bottom: 10px;}

section {grid-template: 600px;
align-content: center;
justify-content: space-evenly;}

main {grid-template: 600px;
  margin-top: 100px;
align-content: center;
justify-content: space-evenly;}

footer {height: 20px;
align-items: left;
justify-items: left}

.container {
display: grid;
grid-template-columns: 100%;
grid-template-rows: 10% 60% 10%;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
"Header Header"
"Navigation Navigation"
"Main Main"
"Footer Footer";
}
