nav {
    display: block;
    top: 0;
    width: 100%;
}

nav ul
{display: flex; justify-content: space-between;}

nav ul li 
{list-style-type: none;
margin-bottom: 2px;
display: inline-block;
border: 4px solid #631563;
padding: 15px 15px 15px 15px;
background-color: #9f9f9f;
width: 100px;
text-align: center;
position: relative;
}

nav ul li ul {
    position: absolute;
    list-style-type: none;
    background-color: #f7f78f;
    top: 50px;
    left: -44px;
    display: none;
}

nav ul li:hover ul {
    display: block;
}



.mobile menu {
    display: none;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}
#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
    }

    .Navigation {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
}
    
.menu {
    text-align: center;
    width: 100%;
    display: none;
}
    
.mobile menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
}

#toggle:checked + .mobile menu {
    display: block;
    
}
}

/*
div {
    display: block;
    top: 0;
    width: 100%;
}
*/
