nav {
    display: block;
    top: 0;
    width: 100%;
}

nav ul
{display: flex; justify-content: space-between;}

nav ul li 
{list-style-type: none;
margin-bottom: 2px;
display: inline-block;
border: 4px solid #631563;
padding: 15px 15px 15px 15px;
background-color: #9f9f9f;
width: 100px;
text-align: center;
position: relative;
}

nav ul li ul {
    position: absolute;
    list-style-type: none;
    background-color: #f7f78f;
    top: 50px;
    left: -44px;
    display: none;
}

nav ul li:hover ul {
    display: block;
}

/*
  main div > p:first-child::first-letter {
    font-size: 300%;
    font-weight: bold;
  }
  
  main div > p:not(:first-child) {
    text-indent: 30px;
  }

div {
    display: block;
    top: 0;
    width: 100%;
}
*/
