/*grid*/

.Navigation, .Header, .Section, .Footer {
width: 100%;
margin-bottom: 5px;
}

.container {
display: grid;
grid-template-columns: 100%;
grid-template-rows: 3% 5% 83% 9%;
gap: 0px;
grid-auto-flow: row;
grid-template-areas:
"Navigation"
"Header"
"Section"
"Footer";
}

@media only screen and (max-width: 600px) {
.container {
display: grid;
grid-template-columns: 100%;
grid-template-rows: 1% 2% 90% 7%;
gap: 0px;
grid-auto-flow: row;
grid-template-areas:
"Navigation"
"Header"
"Section"
"Footer";
}
}
