h1, h2, h3 {color: #631563; font-family: Palatino, URW Palladio L, serif;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 1.2rem;
  background: #f7f78f;
  color: #574e57;
}

/*grid*/

nav, section, main, span, footer {display:grid;
width: 100%;
margin-bottom: 10px;}

section {grid-template: 600px;
align-content: center;
justify-content: space-evenly;}

main {grid-template: 200px / repeat(2, 180px);
align-content: center;
justify-content: space-evenly;}

footer {height: 20px;
align-items: left;
justify-items: left}

/*tablet layout*/
@media only screen and (max-width: 959px) {
 font-size: 1.1rem;
}

/*mobile layout*/
@media only screen and (max-width: 479px) {
  font-size: 1rem;
}

display: grid;
grid-template-columns: 30% 70%;
grid-template-rows: 13% 13% 51% 13% 10%;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
"Header Header"
"Navigation Navigation"
"Image Content"
"Resume"
"Footer Footer";
