h1, h2, h3 {color: #631563; font-family: Palatino, URW Palladio L, serif;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 1.2rem;
  background: #f7f78f;
  color: #574e57;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

/*tablet layout*/
@media only screen and (max-width: 959px) {
  font-size: 1.2rem;
  image-size: 70%;
  video-size: 70%;
}

/*mobile layout*/
@media only screen and (max-width: 479px) {
  font-size: 1rem;
  image-size: 40%;
  video-size: 40%;
  
  /* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}
.button.secondary { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}
