@font-face { 
font-family: Updock;
src: url("Updock-regular.ttf"); 
}

h2, h3 {color: #631563; font-family: Palatino, URW Palladio L, serif;
}

h1 {color: #631563; font-family: 'Updock', cursive;}

body {
  font-family: Verdana, sans-serif;
  font-size: 1.2rem;
  background: #f7f78f;
  color: #574e57;
  margin: .5cm
}

header {
  font-size: .9rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

/*footer background and icons*/

.Footer {
    width: 100%;
  font-color: white;
    background-image: url("images/pripyat.jpg");
   /* background-size: cover; */
  a { color:white; }
}

.pic {
  transition: 1s;
}

.pic:hover {
  transform: scale(2.5);
}

.pic {
  transform: grow;
}

/*table*/
table {
  border: 2px solid #341D55;
  border-collapse: collapse;
}

th, td {
  border: 2px solid #341D55;
  text-align: left;
    color: #341D55;
    padding: .2em .7em;
}

thead {
color: blue;  
}

tfoot, thead {
   background-color: #f76f81;
}
  
tr:nth-child(odd) {
  background-color: #A694C3;
}

caption {
text-align: left;
  color: #341D55;
}

/* print */
@media print {
  * {
    background: transparent;
    color: #000;
  }
  img, nav {
      display: none;
  }
    .video {
      display: none;
    }
 header 
  {
    margin-bottom: 0;
    border: none;
    text-align: center;
}

  a[href]::after {
    content: "[ "attr(href)" ]";
    color: blue;
}
    p, ul {
    orphans: 3;
    widows: 3;
   }
  
  @page {
    margin: 1cm
  }

  body {
     font-size: 11pt;
    font-family: Palatino, URW Palladio L, serif !important;;
}
}

/*tablet layout*/
@media only screen and (max-width: 959px) {
  font-size: 1.2rem;
  image-size: 70%;
  video-size: 70%;
}

/*mobile layout*/
@media only screen and (max-width: 500px) {
  font-size: 1.1rem;
  image-size: 40%;
  video-size: 40%;
  grid: none;
}
